@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    table, tr, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    #root {
        height: 100vh;
    }

}